@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
     font-family: "Syne", sans-serif;
}
.logo-font{
   font-family: "Syne", sans-serif;
}